* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App{
  margin: auto 32rem;
}

.header{
  background: #21222A;
  font-family: 'Inter';
  font-style: normal;
  box-shadow: 0 1rem 2rem rgba(#21222A , .5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 700;
  font-size: 2.2rem;
  color: #61DAFB;
  display: inline-block;
  text-align: center;
  padding-left: 3.2rem;
}

.logo--image{
  transform: translateY(.5rem);
}
.logo--text{
  display: inline-block;
  margin-left: 1rem;
}

.header--container{
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.header--container-light{
  color: yellow;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}


.header--slider{
  width: 3rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50px;
  position: relative;
}

.header--slider-light{
  width: 3rem;
  height: 1.5rem;
  background-color: yellow;
  border-radius: 50px;
  position: relative;
}

.header--circle{
  width: 1.4rem;
  height: 1.4rem;
  background-color: #21222A;
  border-radius: 50%;
  position: absolute;
  top:1%;
  left:1%;
  transition: all 1s;
  
}

.header--circle-light{
  width: 1.4rem;
  height: 1.4rem;
  background-color: #21222A;
  border-radius: 50%;
  position: absolute;
  top:1%;
  right:1%;
  transition: all 1s; 
}

.main{
  background: #282D35;
  color: #FFF;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 3rem;
  background-image: url("./assets/reactjs-icon-2.png");
  background-repeat: no-repeat;
  background-position: 100%;
}

.main__list{
  margin: 0;
  margin-left: 3rem;
  line-height: 3.5rem;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  max-width: 35rem;
}

.main__list-points::marker{
  color:  #61DAFB;
  font-size: 2rem;
}
.main__list-points:last-child{
  line-height: 1;
}

.main__title{
  font-size: 3.9rem;
  margin-left: 3.4rem;
}



