* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App{
  margin: auto 32rem;
}

.header{
  background: #21222A;
  font-family: 'Inter';
  font-style: normal;
  box-shadow: 0 1rem 2rem rgba(#21222A , .5);
}

.logo{
  font-weight: 700;
  font-size: 2.2rem;
  color: #61DAFB;
  display: inline-block;
  text-align: center;
  padding-left: 3.2rem;
}

.logo--image{
  transform: translateY(.5rem);
}
.logo--text{
  display: inline-block;
  margin-left: 1rem;
}

.header--title{
  display: inline-block;
  color: #DEEBF8;
  font-size: 1.6rem;
  transform: translateX(18rem);
  padding: 1rem;
}

.main{
  background: #282D35;
  color: #FFF;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 3rem;
}

.main__list{
  margin: 0;
  margin-left: 3rem;
  line-height: 3.5rem;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  max-width: 35rem;
}

.main__list-points::marker{
  color:  #61DAFB;
  font-size: 2rem;
}
.main__list-points:last-child{
  line-height: 1;
}

.main__title{
  font-size: 3.9rem;
  margin-left: 3.4rem;
}



